<br/>
<div align="center">
 <img alt="{{ title }} Logo" src="{{ logo }}" width="200" height="200">
</div>

<h1 align="center">
{{ title }}<br/><br/>
</h1>

<br/>

<div align="center">
<strong>Monorepository</strong> for **{{ title }}**
<br/><br/>
{{ description|break_text|trim }}
<br/><br/>

![GitHub Actions Workflow Status](https://img.shields.io/github/actions/workflow/status/modelflow-ai/.github/quality-assurance.yml) ![GitHub commit activity](https://img.shields.io/github/commit-activity/t/modelflow-ai/.github) ![License](https://img.shields.io/github/license/modelflow-ai/modelflow-ai)

</div>

<br/>

> **Note**:
> This project is heavily under development and any feedback is greatly appreciated.

<br/>

## Packages

This repository consists of several packages, each residing in its own directory under the `packages/` directory:

{% for package in packages %}
{% if package.type == "package" and not package.independent|default %}
- **{{ package.title }}**: {{ package.shortDescription }} [More Info](https://github.com/modelflow-ai/{{ package.package }})
{% endif %}
{% endfor %}

Independent packages:

{% for package in packages %}
{% if package.independent|default %}
- **{{ package.title }}**: {{ package.shortDescription }} [More Info](https://github.com/modelflow-ai/{{ package.package }})
{% endif %}
{% endfor %}

## Integrations

Modelflow AI integrates with the following php frameworks:
{% for integration in integrations %}
{% if package.type == "integration" %}
- **{{ integration.name }}**: [More Info](https://github.com/modelflow-ai/{{ integration.name }})
{% endif %}
{% endfor %}

- **Symfony** [More Info](https://github.com/modelflow-ai/symfony-bundle)

## Installation

To install Modelflow AI, you need to have PHP 8.2 or higher and Composer installed on your machine. Then, you can clone
this repository and run `composer install` in the root directory.

## Usage

Each package has its own usage instructions. Please refer to the README file in each package's directory for specific
usage instructions.

## Contributing

Contributions are welcome. Please open an issue to discuss your idea or submit a pull request.

## License

This project is licensed under the MIT License. For the full copyright and license information, please view the
[LICENSE](LICENSE) file that was distributed with this source code.
